:root {
  --gamboge: hsla(40, 98%, 47%, 1);
  --tangerine: hsla(33, 96%, 48%, 1);
  --cinnabar: hsla(13, 68%, 54%, 1);
  --oxford-blue: hsla(226, 48%, 11%, 1);

  --cambridge-blue: hsla(144, 15%, 55%, 1);

  /* White to Cambridge Blue */
  --color-white: hsla(220, 98%, 93%, 1);
  --color-100: hsla(192, 63%, 82%, 1);
  --color-200: hsla(168, 28%, 72%, 1);
  --color-300: hsla(156, 22%, 64%, 1);
  --color-400: hsla(150, 19%, 59%, 1);
  /* Cambridge Blue */
  --color-500: hsla(144, 15%, 55%, 1);
  --color-600: hsla(150, 13%, 45%, 1);
  --color-700: hsla(173, 10%, 35%, 1);
  --color-800: hsla(196, 8%, 25%, 1);
  --color-900: hsla(208, 8%, 16%, 1);
  --color-black: hsla(220, 7%, 8%, 1);

  --color-background: var(--color-black);
  --color-text: var(--color-white);

  --color-error: red;

  --color-primary: var(--gamboge);
  --color-primary-hover: hsla(40, 98%, 77%, 1);
  --color-secondary: var(--cambridge-blue);
  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 3rem;
  --border-radius: 0.25rem;
  --border-color: #ccc;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

input {
  background: transparent;
  color: var(--color-text);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-background);
  padding: var(--padding);
  text-decoration: none;
  cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--color-primary-hover);
}

/* Basic Utils */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.padding {
  padding: var(--padding);
}

.gap {
  gap: var(--gap-md);
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form .input-group .label {
  font-size: 0.7rem;
}

.form .input-group .error {
  font-size: 0.7rem;
  color: var(--color-error);
}

.form .button {
  padding: var(--padding) 2rem var(--padding) 2rem;
  align-self: self-end;
}
